- if user.errors.any?
  - unless user.valid?
    - if errors = user.errors.full_messages_for(column.to_sym)
      %ul.error-messages
        - errors.each do |error|
          %li.error-message= error