.done-top
  .done-top__main
    .done-top__main__new
      %h2 会員登録完了
    .done-top__main__content
      .thanks
        .thank-you ありがとうございます。
        .thank-you 会員登録が完了しました。
      = link_to "/", class: "done-btn" do
        .btn-red-done
          メルカリをはじめる

= render 'registration_footer'
