%nav.progress-bar
  %ol.word-wrapper
    %li.red-word
      会員情報
    %li.gray-word
      電話番号認証
    %li.gray-word
      お届け先住所入力
    %li.gray-word
      支払い方法
    %li.gray-word
      完了
  %ol.line-wrapper
    %li.red-circle
    %li.red-bar
    %li.gray-circle
    %li.gray-bar
    %li.gray-circle
    %li.gray-bar
    %li.gray-circle
    %li.gray-bar
    %li.gray-circle
