.sale-page-title
  = image_tag "https://www-mercari-jp.akamaized.net/assets/img/common/common/logo.svg?2296184308", class: "sale-page-title--image"

.sale-page-box
  .sale-page-box__title
    商品の情報を入力

  .sale-page-box__upload-box
    .sale-page-box__upload-box__title
      出品画像
    .sale-page-box__upload-box__must
      必須
    .sale-page-box__upload-box__text
      最大10枚アップロードできます
    .sale-page-box__upload-box__item
      ドラッグアンドドロップ
      %br
      またはクリックしてファイルをアップロード

  .sale-page-box__product
    .sale-page-box__product__title
      商品名
    .sale-page-box__product__must
      必須
    %input.sale-page-box__product__form-name{:placeholder => "商品名（必須 40字まで）"}

    .sale-page-box__product__title
      商品の説明
    .sale-page-box__product__must
      必須
    %textarea.sale-page-box__product__form-text{:placeholder => "商品の説明（必須 1,000文字以内）（色、素材、重さ、定価、注意点など）例）2010年頃に1万円で購入したジャケットです。ライトグレーで傷はありません。あわせやすいのでおすすめです。"}

  .sale-page-box__pul
    .sale-page-box__pul__left
      商品の詳細
    .sale-page-box__pul__right
      .sale-page-box__pul__right__title
        カテゴリー
      .sale-page-box__pul__right__must
        必須
      %select.sale-page-box__pul__right__bottom-margin
        %option{:value=> ""} --

      .sale-page-box__pul__right__title
        商品の状態
      .sale-page-box__pul__right__must
        必須
      %select.sale-page-box__pul__right__not-margin
        %option{:value=> ""} --

  .sale-page-box__pul
    .sale-page-box__pul__left
      配送について
    .sale-page-box__pul__right
      .sale-page-box__pul__right__title
        配送料の負担
      .sale-page-box__pul__right__must
        必須
      %select.sale-page-box__pul__right__bottom-margin
        %option{:value=> ""} --

      .sale-page-box__pul__right__title
        発送元の地域
      .sale-page-box__pul__right__must
        必須
      %select.sale-page-box__pul__right__bottom-margin
        %option{:value=> ""} --

      .sale-page-box__pul__right__title
        発送までの日数
      .sale-page-box__pul__right__must
        必須
      %select.sale-page-box__pul__right__bottom-margin
        %option{:value=> ""} --

  .sale-page-box__price
    .sale-page-box__price__left
      販売価格（300〜9,999,999）
    .sale-page-box__price__right
      .sale-page-box__price__right__title
        価格
      .sale-page-box__price__right__must
        必須
      .sale-page-box__price__right__en
        ¥
      %input.sale-page-box__price__right__value{:placeholder => "例）300"}

      .sale-page-box__price__right__fee
        販売手数料(10%)
        =  fa_icon "minus", class: "minus"
        
      .sale-page-box__price__right__profit
        販売利益
        =  fa_icon "minus", class: "minus"

  .sale-page-box__btn-box
    .sale-page-box__btn-box__text
      禁止されている出品、行為を必ずご確認ください。
      %br
      またブランド品でシリアルナンバー等がある場合はご記載ください。偽ブランドの販売は犯罪であり処罰される可能性があります。
      %br
      また、出品をもちまして加盟店規約に同意したことになります。
    .sale-page-box__btn-box__red-btn
      出品する
    .sale-page-box__btn-box__gray-btn
      もどる

.sale-page-footer
  %ul.sale-page-footer__box
    %li プライバシーポリシー
    %li メルカリ利用規約
    %li 特定商取引に関する表記
  .sale-page-footer__img
    = image_tag "//www-mercari-jp.akamaized.net/assets/img/common/common/logo-gray.svg?2296184308", class: "sale-page-footer__img--logo"
  %p.sale-page-footer__rogo
    %small © 2019 Mercari