.register-top {
  position: relative;
  min-height: 100%;
  background: #f5f5f5;
  font-family: 'Source Sans Pro', Helvetica , Arial, '游ゴシック体', 'YuGothic', 'メイリオ', 'Meiryo', sans-serif;
  font-size: 14px;
  color: #333;
  line-height: 1;

  &__selection{
    width:700px;
    margin:0px auto;
    background:white;
    padding-top:30px;
    padding-bottom:60px;
    text-align: center;
    line-height: 80px;

    a{
      margin-bottom:15px;
    }
  }

  &__icon{
    padding-top:20px;
    height:110px;
    line-height:110px;
    text-align:center;

    img {
      width: 185px;
      height: 49px;
    }
  }
}

.new-register{
  margin-bottom:1px;

  h2{
    font-size:22px;
    text-align:center;
    font-weight:bold;
    padding-top:32px;
    padding-bottom:32px;
    background:white;
    width:700px;
    margin:0 auto;
  }
}

.btn-mail{
  line-height:50px;
  margin:0 auto 10px;
  display:block;
  text-decoration: none;
  font-size:14px;
  border-radius: 4px;
  width :343px;
  height:50px;
  background-color: #Ea352D;
  color:white;

  img{
    float:left;
    margin-left:17px;
    margin-top:15px;
  }
}

.btn-facebook{
  margin:0 auto 15px;
  display:block;
  text-decoration: none;
  font-size:14px;
  border-radius: 4px;
  width :343px;
  height:50px;
  background-color: #385185;
  color:white;

  img{
    float:left;
    margin-left:10px;
  }
}
.btn-google{
  margin:0 auto 0px;
  display:block;
  text-decoration: none;
  font-size:14px;
  border-radius: 4px;
  width :343px;
  height:50px;
  background-color: #FFFFFF;
  color:#333333;

  img{
    float:left;
    margin-left:10px;
  }
}
