.purchased-item
  .purchased-item__text
    購入した商品
  .purchased-item__transation
    取引中
  .purchased-item__after-transation
    過去の取引
  .purchased-item__not-found-transation
    .purchased-item__not-found-transation__imege
      = image_tag "mercari-mypage-icon.png"
    .purchased-item__not-found-transation__text
      取引中の商品がありません