.right-middle-contents
  .right-middle-contents__notice-2
    お知らせ
  .right-middle-contents__todo-2
    やることリスト

.mypage-item-list-2
  .mypage-item-list-2__body
    .mypage-item-list-2__body__image
      = image_tag "mercari-mypage-icon.png"
    .mypage-item-list-2__body__text
      現在、やることリストはありません
    
