.purchased-item
  .purchased-item__text
    購入した商品
  .purchased-item__transation-2
    取引中
  .purchased-item__after-transation-2
    過去の取引
  .purchased-item__not-found-transation
    .purchased-item__not-found-transation__imege
      = image_tag "スクリーンショット 2019-10-09 15.44.32.png"
    .purchased-item__not-found-transation__text
      過去の取引はありません