.top-header{
  background: white;
  padding: 10px 14vw 0;
  margin-bottom: 3px;
  filter: drop-shadow(0 3px 3px rgb(204,204,204));
  a{
    text-decoration: none;
  }

  &__logo{
    display:inline-block;
    img{
      height: 36px;
      width: 134px;
    }
  }

  &__search{
    position: relative;
    display:inline-block;

    &__form{
      width: 54vw;
      height: 34px;
      float: right;
      padding: 0 50px 0 10px;
      border-radius: 5px;
      border: solid 1px rgb(204,204,204);
      background: rgb(245,245,245);
      margin-left: 4vw;
    }

    &__button{
      position: absolute;
      right: 10px;
      top: 10px;
      color: gray;
      height: 50px;
    }

    &__hidden{
      position: absolute;
      right: 1px;
      top: 10px;
      color: gray; 
      opacity: 0;
      cursor : pointer;
      width: 28px;
    }
  }

  &__list{
    font-size: 14px;

    &__category{
      display:inline-block;
      padding: 14px 10px 14px 0;
      font-weight: 600;
      letter-spacing: 1px;
      position: relative;
      
      .fa-list-ul{
        color: #EA352D;
      }

      &__list{
        position: absolute;
        display: none;
        font-weight: normal;
        background: #FFFFFF;
        width: 230px;
        top: 50px;
        font-size: 13px;
        z-index: 1000;
        filter: drop-shadow(3px 3px 3px rgb(200,200,200));

        a{
          color: #333333;
        }

        @for $a from 0 through 12{
          &__li#{$a}{
            padding: 13px 14px;

            &:hover{
              background: #EA352D;

              .link_a{
                color: white;
              }

              .top-header__list__category__list__li#{$a}__ul#{$a}{
                height: 598px;
              }
            }

            @for $b from 0 through 18{
              &:hover .top-header__list__category__list__li#{$a}__ul#{$a}__li#{$b}{
                display: block;
                color: #333333;
              }
            }

            &__ul#{$a}{
              position: absolute;
              top: 0;
              left: 230px;
              background: #FFFFFF;
              width: 230px;
              font-size: 13px;
              filter: drop-shadow(3px 3px 3px rgb(200,200,200));

              @for $b from 0 through 18{
                &__li#{$b}{
                  display: none;
                  padding: 2px 14px;

                  &:hover{
                    background: rgb(240,240,240);

                    .top-header__list__category__list__li#{$a}__ul#{$a}__li#{$b}__ul#{$b}{
                      height: 598px;
                    }
                  }

                  @for $c from 0 through 28{
                    &:hover .top-header__list__category__list__li#{$a}__ul#{$a}__li#{$b}__ul#{$b}__li#{$c}{
                      display: block;
                      color: #333333;
                    }
                  }
      

                  &__ul#{$b}{
                    position: absolute;
                    top: 0;
                    left: 230px;
                    background: #FFFFFF;
                    width: 280px;
                    font-size: 13px;
                    filter: drop-shadow(3px 3px 3px rgb(200,200,200));

                    @for $c from 0 through 28{
                      &__li#{$c}{
                        display: none;
                        padding: 2px 14px;

                        &:hover{
                          background: rgb(240,240,240);
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }

      .top-header__list__category:hover &__list{
        display: block;
      }
    }
    &__category:hover{
      color: #0095EE;
    }
  

    &__brand{
      display:inline-block;
      padding: 14px 10px 14px 0;
      font-weight: 600;
      letter-spacing: 1px;
      position: relative;
      .fa-tags{
        color: #EA352D;
      }

      &__list{
        position: absolute;
        display: none;
        font-weight: normal;
        background: #FFFFFF;
        width: 230px;
        top: 50px;
        font-size: 13px;
        z-index: 1000;
        color:  #333333;
        filter: drop-shadow(3px 3px 3px rgb(200,200,200));
        
        &__li{
          padding: 12px 14px;

          &:hover{
            background: #EA352D;
            color: #FFFFFF;
          }
        }
      }

      .top-header__list__brand:hover &__list{
        display: block;
      }  
    }
    &__brand:hover{
      color: #0095EE;
    }
    
    &__signup{
      display:inline-block;
      float: right;
      padding: 4px 8px;
      background: #EA352D;
      color: white;
      border-radius: 5px;
      border: solid 1px #EA352D;
      margin-top: 4px;
    }
    &__login{
      display:inline-block;
      float: right;
      padding: 4px 8px;
      color: #0095EE;
      border-radius: 5px;
      border: solid 1px #0095EE;
      margin-left: 10px;
      margin-top: 4px;
    }

    .header-image{
      height: 28px;
      width: 28px;
      border-radius: 30px;
      float: right;
      margin-top: 8px;
      margin-left: 12px;
    }

    &__mypage{
      display:inline-block;
      float: right;
      padding: 4px 6px;
      margin-top: 11px;
      color:#333333;
    }

    &__mypage:hover{
      color: #0095EE;
    }

    &__right-box{
      display:inline-block;
      float: right;
      padding: 4px 6px;
      margin-left: 12px;
      margin-top: 8px;

      .header-icon{
        color: rgb(204,204,204);
        font-size: 20px;
      }
    }
    &__right-box:hover{
      color:  #0095EE;
    }
  }
}