.top-category{
  padding: 50px 0px 36px;
  background: white;
  &__title{
    font-size: 28px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 16px;
  }

  &__kind{
    text-align: center;

    &__name-1{
      display: inline-block;
      padding: 8px 16px;
      background: #EFEFEF;
      border-radius: 30px;
      font-weight: 600;
      font-size: 14px;
      cursor : pointer;
      &:hover{
        animation: key1 .3s ease infinite alternate;
      }
      @keyframes key1{
        0% {transform: translateY(0px);}
        100% {transform: translateY(-8px);}
      }
    }

    &__name-2{
      display: inline-block;
      padding: 8px 16px;
      background: #EFEFEF;
      border-radius: 30px;
      font-weight: 600;
      font-size: 14px;
      cursor : pointer;
      &:hover{
        animation: key1 .3s ease infinite alternate;
      }
      @keyframes key1{
        0% {transform: translateY(0px);}
        100% {transform: translateY(-8px);}
      }
    }

    &__name-3{
      display: inline-block;
      padding: 8px 16px;
      background: #EFEFEF;
      border-radius: 30px;
      font-weight: 600;
      font-size: 14px;
      cursor : pointer;
      &:hover{
        animation: key1 .3s ease infinite alternate;
      }
      @keyframes key1{
        0% {transform: translateY(0px);}
        100% {transform: translateY(-8px);}
      }
    }

    &__name-4{
      display: inline-block;
      padding: 8px 16px;
      background: #EFEFEF;
      border-radius: 30px;
      font-weight: 600;
      font-size: 14px;
      cursor : pointer;
      &:hover{
        animation: key1 .3s ease infinite alternate;
      }
      @keyframes key1{
        0% {transform: translateY(0px);}
        100% {transform: translateY(-8px);}
      }
    }
  }
}

.top-products{
  padding: 42px 12vw 100px;

  &__ancestry{
    font-size: 13px;
    margin-bottom: 20px;
  }

  &__title-1{
    display: inline-block;
    font-size: 24px;
    font-weight: 600;
  }

  &__title-2{
    display: inline-block;
    font-size: 24px;
    font-weight: 600;
  }

  &__title-3{
    display: inline-block;
    font-size: 24px;
    font-weight: 600;
  }

  &__title-4{
    display: inline-block;
    font-size: 24px;
    font-weight: 600;
  }

  &__show{
    display: inline-block;
    float: right;
    color: #0095EE;
    margin-top: 14px;
    margin-right: 10px;
    font-size: 14px;
    &:hover{
      animation: key1 .3s ease infinite alternate;
    }
    @keyframes key1{
      0% {transform: translateY(0px);}
      100% {transform: translateY(-8px);}
    }
  }

  &__items{
    display: flex;
    flex-wrap : wrap;
    margin-bottom: 45px;

    &__item{
      opacity: 0;
      transform : translate(0,5px);
      transition : all 1200ms;
      position: relative;
      height: 19vw;
      width: 14vw;
      background: white;
      margin: 7px;
      transition: 0.1s;
      border: 1px solid transparent;
      filter: drop-shadow(3px 3px 3px rgb(204,204,204));

      &:hover{
        border: 1px solid #0095EE;
      }

      &__sold__image{
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 60px 60px 0 0;
        border-color: red transparent transparent transparent;
        position: absolute;
        top:0;
        left:0;
      }

      &__sold__text{
        position: absolute;
        top: 9px;
        left:0;
        font-size: 12px;
        color: white;
        letter-spacing: 2px;
        font-weight: 600;
        transform: rotate(-45deg);
      }

      img{
        height: 15vw;
        width: 14vw;
        object-fit: cover;
      }

      &__price{
        position: absolute;
        top: 22vh;
        font-size: 14px;
        color: white;
        padding: 1vh 1vw;
        background: rgba(0,0,0,.4);
        border-radius: 0 20px 20px 0;
      }

      &__name{
        height: 3vw;
        width: 12vw;
        overflow: hidden;
        font-size: 15px;
        padding: 1vh 1vw;
        color: black;
      }
    }
  }
}

.top-icon-link{
  text-decoration: none;
  color: white;

  &:hover{
    .top-icon{
      animation: key2 .3s ease infinite alternate;
    }
    @keyframes key2{
      0% {transform: translateY(0px);}
      100% {transform: translateY(-15px);}
    }
  }
}

.top-icon{
  background: #EA352D;
  height: 160px;
  width: 160px;
  border-radius: 100px;
  bottom: 32px;
  right: 32px;
  font-size: 60px;
  position: fixed;
  text-align: center;

  &__margin{
    height: 24px;
  }
  
  &__text{
    font-size: 22px;
    height: 25px;
    line-height: 25px;
  }
}

.scrollin{
  opacity: 1;
  transform: translate(0, 0);
}