.header-mypage-header{
  background: white;
  filter: drop-shadow(0 3px 3px rgb(203, 203, 203));
  font-size: 14px;
  width: 85vw;
  line-height: 50px;
  padding-left: 15vw;
  display: flex;
  i{
    color: gray;
    font-size: 9px;
    line-height: 50px; 
    margin: 0 8px;
  }
  &__now-page{
    font-weight: 600;
  }
}

.mypage-left-contents{
  margin-top: 40px;
  margin-bottom: 40px;
  margin-left: 15vw;
  float: left;
  &__top{
    background: white;
    font-size: 14px;
    width: 15vw;
    padding: 17px;
    margin-bottom: 1px;
  i{
    color: gray;
    float: right;
    padding-top: 5px;
  } 
  }
  &__title{
    font-weight: 700;
    margin-top: 35px;
    margin-bottom: 7px;
  }
}

.right-mypage-contents{
  background-image: url(http://www.hdnicewallpapers.com/Walls/Big/Monsoon/Water_Drops_and_Light_Reflection_in_Rain_HD_Images.jpg);
  background-size: cover;
  width: 50vw;
  height: 215px;
  margin-top: 40px;
  float: right;
  margin-right: 15vw;
  position: relative;
  &__image{
    text-align: center;
    padding-top: 50px;
  img{
    width: 60px;
    height: 60px;
    border-radius: 50%;
  }
}
  &__user-name{
    text-align: center;
    padding-top: 5px;
  }
  &__number{
    text-align: center;
    padding-top: 5px;
  }
}

.right-middle-contents{
  width: 50vw;
  float: right;
  margin-right: 15vw;
  position: relative;
  &__notice{
    background: white;
    border-top: 2px solid #ea352d;
    font-weight: 700;
    position: absolute;
    width: 25vw;
    line-height: 72px;
    text-align: center;
    }
  &__todo{
    font-weight: 700;
    position: absolute;
    width: 25vw;
    line-height: 72px;
    text-align: center;
    margin-left: 25vw;
    }
  }

.mypage-item-list{
  width: 50vw;
  float: right;
  margin-right: 15vw;
  margin-top: 72px;
  &__body{
    background: white;
    height: 76px;
    margin-bottom: 1px;
    &__image{
      position: absolute;
      padding: 16px;
      img{
        width: 48px;
        height: 48px;
      }
    }
    &__text{
      font-size: 14px;
      padding-top: 16px;
      padding-left: 80px;
    i{
      color: gray;
      height: 14px;
      width: 9px;
      float: right;
      padding: 18px;
    } 
  }
    &__time{
      font-size: 14px;
      padding-left: 80px;
    i{
      color:gray;
    }
  }
 }
  &__check{
    background: white;
    height: 88px;
    position: relative;
    &__graybox{
      background: rgb(245,245,245);
      font-size: 14px;
      text-align: center;
      line-height: 56px;
      position: absolute;
      width: 48vw;
      margin: 16px;
    }
  }
}

.purchased-item{
  background: white;
  margin-top: 40px;
  font-weight: 700;
  width: 50vw;
  float: right;
  margin-right: 15vw;
  &__text{
    padding-left: 16px;
    font-size: 16px;
    line-height: 72px;
  }
  &__transation{
    background: white;
    border-top: 2px solid #ea352d;
    width: 25vw;
    line-height: 72px;
    font-size: 16px;
    font-weight: 700;
    text-align: center;
    float: left;

  }
  &__after-transation{
    background: rgb(245,245,245);
    line-height: 72px;
    font-size: 16px;
    font-weight: 700;
    text-align: center;
    width: 25vw;
    float: right;
  }
  &__not-found-transation{
    background: white;
    height: 240px;
    margin-top: 72px;
    clear: both;
    img{
      padding: 0 310px;
      padding-top: 40px;
    }    
    &__text{
      color: #ccc;
      text-align: center;
      padding-top: 30px;
    }
  }
}

// ーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーー

.right-middle-contents{
  width: 50vw;
  float: right;
  margin-right: 15vw;
  position: relative;
  &__notice-2{
    font-weight: 700;
    line-height: 72px;
    text-align: center;
    width: 25vw;
    position: absolute;
    }
  &__todo-2{
    background: white;
    border-top: 2px solid #ea352d;
    font-weight: 700;
    line-height: 72px;
    text-align: center;
    width: 25vw;
    position: absolute;
    margin-left: 360px;
    }
  }

.mypage-item-list-2{
  width: 50vw;
  float: right;
  margin-right: 15vw;
  margin-top: 72px;
  &__body{
    background: white;
    height: 240px;
    &__image{
      padding: 40px 310px 0;
    }
    &__text{
      color: #ccc;
      font-weight: 700;
      text-align: center;
      padding-top: 30px;
    }
  }
}

.purchased-item{
  background: white;
  font-weight: 700;
  width: 50vw;
  float: right;
  margin-top: 40px;
  margin-right: 15vw;
  &__text{
    font-size: 16px;
    line-height: 72px;
    padding-left: 16px;
  }
  &__transation-2{
    background: rgb(245,245,245);
    line-height: 72px;
    font-size: 16px;
    font-weight: 700;
    text-align: center;
    width: 25vw;
    float: left;
  }
  &__after-transation-2{
    background: white;
    border-top: 2px solid #ea352d;
    line-height: 72px;
    font-size: 16px;
    font-weight: 700;
    text-align: center;
    width: 25vw;
    float: right;
  }
}