<div class="done-top">

  <div class="done-header">
    <div class="register-top-icon">
      <a href="https://www.mercari.com/jp/">
        <img src="//www-mercari-jp.akamaized.net/assets/img/common/common/logo.svg?2296184308" alt="mercari">
      </a>
    </div>
    <div class="progress">
      <%= image_tag "done.png" %>
    </div>
  </div>


  <div class="done-main">
      <div class=new-done>
        <h2>会員登録完了</h2>
      </div>

      <div class="done-content">
      <div class=thanks>
<div class="thank-you">ありがとうございます。</div>
<div class="thank-you">会員登録が完了しました。</div>
      </div>
    <button type="submit" class="btn-red-done">メルカリをはじめる</button>

  </div>

</div>

  <%= render 'registration_footer'%>

