<div class=register-top-footer>
  <ul class="footer-list">
    <li>
      <a  href="https://www.mercari.com/jp/privacy/">プライバシーポリシー</a>
    </li>
    <li>
      <a  href="https://www.mercari.com/jp/tos/">メルカリ利用規約</a>
    </li>
                    <li>
        <a  href="https://www.mercari.com/jp/tokutei/">特定商取引に関する表記</a>
      </li>
    </ul>

  <a href="https://www.mercari.com/jp/" class="register-footer-logo">
            <img src="//www-mercari-jp.akamaized.net/assets/img/common/common/logo-gray.svg?2296184308" alt="mercari" width="80" height="65">
  </a>
  <p class="under-logo">
    <small>© 2019 Mercari</small>
  </p>
</div>