.registration
  .registration__header
    .registration__header__icon
      = image_tag "//www-mercari-jp.akamaized.net/assets/img/common/common/logo.svg?2296184308", size: "185x49", alt: "mercari"
    .progress
      = image_tag "registration.png"
  .registration__main
    .registration__main__main
      .registration__main__main__member
        %h2 会員情報入力
      .registration__main__main__content
        .form-list
          %label{for: "nickname"} ニックネーム
          %span.form-must 必須
          %input.input-data{name: "nickname", placeholder: "例) メルカリ太郎", type: "text", value: ""}/
        .form-list
          %label{for: "email"} メールアドレス
          %span.form-must 必須
          %input.input-data{name: "email", placeholder: "PC・携帯どちらでも可", type: "email", value: ""}/
        %input{name: "login_type", :type => "hidden", :value => ""}/
        .form-list
          %label{for:"password"} パスワード
          %span.form-must 必須
          %input.input-data{name: "password", placeholder: "7文字以上", type: "password"}/
        .form-list
          %label{for: "password"} パスワード (確認)
          %span.form-must 必須
          %input.input-data{name: "password2", placeholder: "7文字以上", type: "password"}/
        .form-list
          %h3.text-left.l-chapter-sub-head 本人確認
          %p.safety-text
            安心・安全にご利用いただくために、お客さまの本人情報の登録にご協力ください。他のお客さまに公開されることはありません。
        .form-list
          %div
            %label お名前(全角)
            %span.form-must 必須
          %br/
          .halfs
            %input.input-data-half{name: "family_name_kanji", placeholder: "例) 山田", type: "text", value: ""}/
            %input.input-data-half{name: "first_name_kanji", placeholder: "例) 彩", type: "text", value: ""}/
        .form-list
          %div
            %label{for: "family_name_kanji"} お名前カナ(全角)
            %span.form-must 必須
          .halfs
            %input.input-data-half{name: "family_name_kana", placeholder: "例) ヤマダ", type: "text", value: ""}/
            %input.input-data-half{name: "first_name_kana", placeholder: "例) アヤ", type: "text", value: ""}/
        .form-list
          %label{:for => "birthday"} 生年月日
          %span.form-must 必須
          .birthday-select-wrap
            .select-wrap
              %i.icon-arrow-bottom
              %select.select-default{name: "year"}
                %option{value: ""} --
            %span.date 年
            .select-wrap.select-wrap__month
              %i.icon-arrow-bottom
              %select.select-default{name: "month"}
                %option{value: ""} --
            %span.date 月
            .select-wrap.select-wrap__day
              %i.icon-arrow-bottom
              %select.select-default{name: "day"}
                %option{value: ""} --
            %span.date 日
          %input{name: "birthday", type: "hidden", value: ""}/
          .clearfix
        %p.form-info-text
          ※ 本人情報は正しく入力してください。会員登録後、修正するにはお時間を頂く場合があります。
      .second-content
        %input{name: "after_save_callback", type: "hidden", value: ""}/
        .form-list
          .g-recaptcha.signup-recaptcha{"data-sitekey" => "6LfZGCYTAAAAAHoK-s7Lg5OdYg5Fq4susvALmZoc"}
            %div
              %div
                %iframe{frameborder: "0", height: "78", name: "a-uwmzq6pxa220", role: "presentation", :sandbox => "allow-forms allow-popups allow-same-origin allow-scripts allow-top-navigation allow-modals allow-popups-to-escape-sandbox", :scrolling => "no", :src => "https://www.google.com/recaptcha/api2/anchor?ar=1&k=6LfZGCYTAAAAAHoK-s7Lg5OdYg5Fq4susvALmZoc&co=aHR0cHM6Ly93d3cubWVyY2FyaS5jb206NDQz&hl=ja&v=Zy-zVXWdnDW6AUZkKlojAKGe&size=normal&cb=e24fxowz7oc8", :width => "304"}
              %textarea#g-recaptcha-response.g-recaptcha-response{:name => "g-recaptcha-response", :style => "width: 250px; height: 40px; border: 1px solid rgb(193, 193, 193); margin: 10px 25px; padding: 0px; resize: none; display: none;"}
        .form-list
          %p.next-explanation
            「次へ進む」のボタンを押すことにより、
            %span.using> 利用規約
            に同意したものとみなします
        %button.btn-red{type: "submit"} 次へ進む
        .form-list.text-right
          %p
            .yourself
              本人情報の登録について
              %strong ＞
  = render 'registration_footer'
