
<div class=register-top>

  <div class=register-top-icon>
    <img src="//www-mercari-jp.akamaized.net/assets/img/common/common/logo.svg?2296184308" alt="mercari">
  </div>

  <div class=register-top-main>
    <div class=new-register>
      <h2>新規会員登録</h2>
    </div>
    <div class=register-top-selection>
    <a href="https://www.mercari.com/jp/signup/registration/" class="btn-mail">
            <img src="http://www.iconarchive.com/download/i58749/dakirby309/windows-8-metro/Other-Mail-alt-Metro.ico" alt="mail" width="20" height="20">
            メールアドレスで登録する</a>

  <button id="facebook-login" class="btn-facebook">
            <img src="https://ja.facebookbrand.com/wp-content/uploads/2019/04/f_logo_RGB-Hex-Blue_512.png" alt="facebook" width="18" height="18">
            Facebookで登録する</button>

  <button id="google-login" class="btn-google">
  <img src="https://developers.google.com/identity/images/g-logo.png?hl=ja" alt="google" width="18" height="18">
            Googleで登録する</button>
    </div>
  </div>

<%= render 'registration_footer'%>

</div>


