-# = render "user/user-mypage"
-# = render partial: "shared/sale_page"
-# = render "products/registration"
-# = render "products/payment"
-# = render "user/add-credit"       //MEMO:一時的にコメントアウト
= render "shared/top_page"
-# = render "user/add-credit-information"




