-# = render "user/user-mypage"
-# = render "shared/sale_page"
-# = render "products/registration"
-# = render "products/payment"
-# = render "user/add-credit"
= render "user/add-credit-information"
= render "shared/top_page"
= render "shared/top_page"
